/* @keyframes moveAndDisappear {
    0% {
      transform: translate(20px, 20px);
      opacity: 1;
    }
    50% {
      transform: translate(20px, 20px) translate(40px, 40px);
      opacity: 1;
    }
    100% {
      transform: translate(40px, 40px) translate(60px, 60px);
      opacity: 0;
    }
  } 
*/

@keyframes moveAndDisappear {
  0% {
    /* transform: translate(-50%, -50%), */
  }
  99% {
    left: 50%;
    top: 50%;
    opacity: 1;
  }
  100% {
    left: 50%;
    top: 50%;
    opacity: 0;
  }
}