.demoButton {
  background-color: #ffffff;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.demoButton:hover {
  background-color: rgb(223, 238, 249);
}

.demoButton:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}